@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

.tet-container {width: 100%; min-height: 100vh; position: relative;background-color: #9E061B;}
.tet-container .tet-mask-top-left {
    position: fixed;
    z-index: 2;
    left: 0; 
    top: 0;
}
.tet-container .tet-mask-top-right {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
}
.tet-container .tet-mask-bot-left {
    position: fixed;
    z-index: 2; 
    left: 0; 
    bottom: -138px;
}

.tet-container .tet-mask-bot-right {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: -90px;
}


.tet-header {
    padding-top: 52px;
    max-width: 634px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tet-header .tet-header-logo {
    width: 270px;
    height: auto;
}

.tet-header .tet-header-text {
    width: 300px;
    height: auto;
}

.tet-banner {
    position: relative;
    padding-top: 76px;
    max-width: 1166px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.tet-banner .tet-banner-image {
    width: 100%;
}

.tet-banner .tet-banner-text {
    max-width: 912px;
    margin: 0 auto;
    color: #FFF;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
}

.tet-banner .tet-banner-tel {
    color: #F1E90A;
    font-weight: 800;
}

.tet-tour {
    max-width: 1152px;
    margin: 0 auto;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.tour-trongnuoc, .tour-quocte {
    position: relative;
}

.tour-trongnuoc .tour-trongnuoc-mask {
    position: absolute;
    right: 0;
    top: -50px;
}

.tour-quocte .tour-quocte-mask {
    position: absolute;
    left: 0;
    top: -50px;
}

.tour-tab-img {
    padding: 8px 0;
    width: 280px;
    height: auto;
}

.tet-tour .tet-custom-nav-tab {
    /* height: 137px; */
    background-color: #AD0016;
    box-shadow: 0px 9px 2px -2px #C70017 inset;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
}

/* CUSTOM NAVBAR */

.tet-tour .nav-tabs>li.active>a {
    background-color: #8A0012;
    border: none;
}

.tet-tour .nav-tabs.nav-justified>li>a {
    border: none;
    outline: none;
}

.tet-tour .nav-tabs.nav-justified>li>a:focus-within {
    border: none;
    outline: none;
}

.tet-tour .nav-tabs.nav-justified>li>a:hover {
    border: none;
    background-color: #8A0012;
}

.tet-tour.nav-tabs.nav-justified>.active>a:focus {  
    border: none;
}

.tet-tour .nav-tabs>li.active>a:hover {
    border: none;
}

.tour-main {
    background: #9A0116;
    border-radius: 40px;
}


.tet-tour .tour-header {
    width: 437px;
    margin: 0 auto;
}

.tet-tour .tour-header .tour-header-img {
    width: 100%;
}

.tet-tour-list-content {
    padding: 48px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tet-tour-item {
    position: relative;
    padding: 12px;
    width: 230px;
    height: 243px;
    /* background: url('/images/tour/tour_mask.png') no-repeat; */
}

.tet-tour-item-mask {
    width: 230px;
    position: absolute;
    top:0;
    left: 0;
}

.tet-tour-item-img {
    width: 207px;
    height: 122px;
    object-fit: cover;
}

.tet-tour-item-name {
    position: relative;
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
        /* 14.286% */
}

.tet-tour-item-price {
    position: relative;
        z-index: 1;
    color: #EFE13D;
        text-align: center;
        font-family: UTM Penumbra;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.tet-tour-item-order {
    display: block;
    position: relative;
    z-index: 1;
    width: 142px;
    height: 40px;
    margin: 0 auto;
    margin-top: 4px;
    border-radius: 20px;
    border: 3px solid #F2DD21;
    background: linear-gradient(180deg, #064ED4 19.1%, #003685 100%);
    color: #FFF;
        font-family: UTM Penumbra;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
}

.tet-contact {
    padding: 180px 0;
    display: flex;
    gap: 90px;
    align-items: center;
}

.tet-contact-banner {
    max-width: 880px;
    width: 50%;
}

.tet-contact-form {
    max-width: 617px;
    width: 40%;
}

.tet-form-container {
    width: 100%;
    height: 436px;
    background: url('/images/form-mask.png') no-repeat center center;
    padding: 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.tet-contact-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

.tet-contact-img {
    width: 100%;
}

.tet-form-title {
    text-align: center;
    color: #E4E25B;
    font-family: UTM Penumbra;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 114.286% */
}

.tet-form-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tet-form-input {
    height: 58px;
    border-radius: 500px;
    outline: none;
    border: 2px solid #DF8D57;
    padding: 0 28px;
    background: linear-gradient(180deg, #FFF 0%, #FEE5D0 100%);
}

.tet-form-input::placeholder {
    color: #E29561;
    
        font-family: Mulish;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* 188.235% */
}

.tet-form-destination {
    height: 58px;
    font-family: Mulish;
    font-size: 17px;
        border-radius: 500px;
        outline: none;
        border: 2px solid #DF8D57;
        padding: 0 28px;
        color: #DF8D57;
        font-weight: 700;
        background: linear-gradient(180deg, #FFF 0%, #FEE5D0 100%);
}

.tet-form-submit {
    border: none;
    background-color: transparent;
    width: 334px;
    margin: 0 auto;
    margin-top: 28px;
}

.tet-form-submit-img {
    width: 100%;
}

/* TET THANKS */
.tet-thanks {
    margin-top: 120px;
    padding: 90px 0;
    background-color: #940013;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tet-thanks-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tet-thanks-title {
    color: #E5E158;
        text-align: center;
        font-family: UTM Penumbra;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* 88.889% */
}

.tet-thanks-desc {
    max-width: 451px;
    margin: 0 auto;
    color: #F1F6B1;
        text-align: center;
        font-family: Mulish;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 136.364% */
}

.tet-thanks-slider {
    width: 100%;
    height: 277px;
}

.slider-image-item {
    height: 277px;
}

/* Footer */
.tet-footer {
    border-top: 4px solid #E5E056;
    overflow: hidden;
}

.tet-footer-divider {
    height: 57px;
    width: 1px;
    background-color: #fff;
}

.tet-footer-mask {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.tet-footer .tet-top-container {
    padding: 58px 0 114px;
    max-width: 824px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.tet-footer .tet-footer-bottom {
    background-color: #21975A;
    height: 157px;
    z-index: 2;
    display: block;
}

.tet-footer .tet-footer-bottom .tet-bottom-container {
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    gap: 60px;
    padding: 40px 0;
    position: relative;
    z-index: 1;
}

.tet-footer .tet-footer-bottom .footer-qr {
    position: absolute;
    transform: translateY(-100px);
}

.tet-footer .footer-info-container { 
padding-left: 240px;
    display: flex; flex-direction: column; gap: 10px
}

.tet-footer .footer-info {
    display: flex;
    gap: 20px;
}

.tet-footer .footer-info-website {
    display: flex;
    gap: 20px;
}


.tet-footer .tet-footer-bottom .footer-info-text {
    color: #FFF;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

.tet-info-company {
    max-width: 232px;
    text-transform: uppercase;
    color: #FFF;
        text-align: center;
        font-family: UTM Penumbra;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        /* 65.217% */
}

.tet-info-right {
    display: flex;
    gap: 40px;
    height: 45px;
}

.tet-tongdai-text {
    color: #fff;
    text-align: center;
        font-family: UTM Penumbra;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        /* 118.75% */
}

.tet-tongdai-num {
    color: #F1DA0A;
        text-align: center;
        font-family: UTM Penumbra;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        /* 63.333% */
}

.swal2-container .swal2-title {
    color: #E4E25B;
    width: 500px;
    margin: 0 auto;
        text-align: center;
        font-family: UTM Penumbra;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        /* 85.714% */
}

.swal2-container .swal2-html-container {
        color: #E4E25B;
        text-align: center;
        font-family: Mulish;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    padding: 55px;
    width: 620px;
    height: 436px;
    background: url('/images/popup_mask.png') no-repeat center center;
}

div:where(.swal2-container).swal2-backdrop-show {
    background: rgba(57, 0, 0, 0.94);
}

@media only screen and (max-width: 1400px) {

    .tet-header {
        gap: 32px;
    }

    .tet-tour .tour-header {
        width: 360px;
    }

    .tour-tab-img {
        width: 240px;
    }

    .tet-container .tet-mask-top-left {
        width: 300px;
    }

    .tet-container .tet-mask-top-right {
        width: 300px;
    }

    .tet-container .tet-mask-bot-left {
        width: 200px;
    }

    .tet-container .tet-mask-bot-right {
        width: 200px;
    }
    
    .tet-contact {
        max-width: 100%;
    }

        .tet-header {
            max-width: unset;
            gap: 60px;
            justify-content: center;
        }

    .tet-header .tet-header-logo {
        width: 240px;
    }
        .tet-header .tet-header-text {
            width: 258px;
        }
    .tet-contact-img {
        width: 300px;
        max-width: unset;
    }

}

@media only screen and (max-width: 1200px) {

    .tet-container .tet-mask-top-left {
        width: 250px;
    }

    .tet-container .tet-mask-top-right {
        width: 250px;
    }

    .tet-container .tet-mask-bot-left {
        width: 200px;
    }

    .tet-container .tet-mask-bot-right {
        width: 200px;
    }

        .tet-header {
            gap: 24px;
        }
        .tet-header .tet-header-logo {
            width: 224px;
        }

        .tet-header .tet-header-text {
            width: 240px;
        }

    .tet-container .tet-contact .tet-contact-banner {
        width: 100%;
        max-width: unset;
    }
    .tet-tour {
        padding: 0 32px;
    }

    .tour-tab-img {
        width: 200px;
    }
    .tet-banner {
        padding: 76px 32px 0 32px;
    }
    .tet-contact {
        flex-direction: column;
    }
    .tet-top-logo-img {
        width: 280px;
        height: auto;
    }
    .tet-top-text-img {
        width: 280px;
        height: auto;
    }
        .tet-contact-header {
            padding: 32px;
        }
}

@media only screen and (max-width: 992px) {
    .tet-container .tet-mask-top-left {
        width: 200px;
    }

    .tet-container .tet-mask-top-right {
        width: 200px;
    }

    .tet-container .tet-mask-bot-left {
        width: 200px;
    }

    .tet-container .tet-mask-bot-right {
        width: 200px;
    }
    
    .tet-header .tet-header-logo {
        width: 180px;
    }
    .tet-header .tet-header-text {
        width: 180px;
    }
    .tet-tour .tour-header {
        width: 280px;
    }
    .tour-tab-img {
        width: 180px;
    }
    .tour-quocte .tour-quocte-mask, .tour-trongnuoc .tour-trongnuoc-mask {
        width: 180px;
    }
    .tet-thanks-title {
        font-size: 28px;
    }
    .tet-top-logo-img {
        width: 240px;
    }
    .tet-top-text-img {
        width: 240px;
    }
    
}

@media only screen and (max-width: 768px) {
    .tet-tour-item {
        width: 188px;
    }
    .tet-tour-item-mask {
        width: 188px;
    }
    .tet-tour-item-img {
        width: 168px;
        height: 96px;
    }
    .tet-tour-item-name {
        margin-top: 4px;
    }
    .tet-form-submit {
        width: unset;
    }
    .tet-contact-form {
        width: 100%;
    }
    .tet-banner .tet-banner-text {
        line-height: unset;
        font-size: 15px;
    }
    .tet-container .tet-tour {
        gap: 24px;
    }
    .tet-contact {
        gap:24px;
        padding: 16px 0;
        flex-direction: column-reverse;
    }
    .tet-thanks {
        margin-top: 0;
        padding: 40px 0;
    }
    .tet-contact-header {
        padding: 12px;
    }
    .tet-contact-img {
        width: 240px;
    }
    .tet-top-logo-img {
        width: 180px;
    }

    .tet-top-text-img {
        width: 180px;
    }
    .tet-footer .tet-top-container {
        padding: 32px;
        gap: 12px;
    }
    .tet-top-logo-img {
        width: 120px;
    }
    .tet-top-text-img {
        width: 120px;
    }
    .footer-qr {
        position: relative;
        width: 100px;
    }
    .tet-footer .footer-info-container {
        padding-left: 0;
    }
    .tet-footer-mask {
        position: relative;
        display: none;
    }
    .tet-bottom-container {
        display: block;
        flex-direction: column;
            gap: 8px;
    }
        .tet-footer .tet-footer-bottom {
            height: unset;
        }
        .tet-info-right {
            flex-direction: column;
            gap: 4px;
            height: unset;
        }  
        .tet-footer-divider {
            display: none;
        }
                .tet-info-company {
                    max-width: unset;
                    font-size: 14px;
                }
        .tet-footer .tet-footer-bottom .footer-qr {
            position: relative;
            transform: none;
        }
    .tet-footer-bottom {
        padding: 0 12px;    
    }
        .tet-footer .tet-footer-bottom .footer-info-text {
            font-size: 16px;
        }

        .tet-footer .footer-info {
            align-items: center;
        }

        .tet-footer .tet-footer-bottom .tet-bottom-container {
            gap: 8px;
        }
}

@media only screen and (max-width: 576px) {

    .tet-header {
        flex-direction: column;
        padding-top: 40px;
        gap: 0;
    }
    .tet-container .tet-banner {
        padding: 24px 12px;
        gap: 24px;
    }

    .tet-container .tet-tour {
        margin-top: 60px;
        padding: 0 12px;
    }

    .tet-tour-list-content {
        padding: 24px 0;
    }
    
    .tet-container .tet-mask-top-left {
        width: 120px;
    }

    .tet-container .tet-mask-top-right {
        width: 120px;
    }

    .tet-container .tet-mask-bot-left {
        width: 90px;
        bottom: -50px;
    }

    .tet-container .tet-mask-bot-right {
        width: 90px;
        bottom: -34px;
    }
    .tour-quocte .tour-quocte-mask, .tour-trongnuoc .tour-trongnuoc-mask {
        width: 120px;
    }
    .tet-tour .tet-custom-nav-tab {
        border-radius: 0px;
        box-shadow: none;
    }
    .tet-tour-item {
        width: 124px;
        height: unset;
        padding: 0;
    }
    .tet-tour-item-mask {
        width: 100%;
    }
    .tet-tour-item-img {
        width: 100%;
        height: auto;
        padding: 4px;
    }
    .tet-tour-item-name {
        font-size: 11px;
        margin: 0;
    }
    .tet-tour-item-price {
        font-size: 12px;
    }
    .tet-thanks-text {
        padding: 0 32px;
        gap: 4px;
    }
    .tet-thanks-title {
        font-size: 18px;
    }
    .tet-thanks-desc {
        font-size: 16px;
    }
    .tet-tour .tour-header {
        width: 240px;
    }
    .tet-tour-item-order {
        font-size: 10px;
        width: unset;
        height: unset;
        line-height: unset;
        border-width: 1px;
        padding: 4px 12px;
        margin-top: 0;
    }
    .tet-tour-list-content {
        gap: 24px;
    }
    .tet-form-container {
        border-radius: 12px;
        border: 2px solid #F2DD21;
        justify-content: center;
        height: unset;
        padding: 16px;
        gap: 12px;
    }
    .tet-form-title {
        font-size: 18px;
    }
    .tet-form-submit {
        margin-top: 0;
        height: unset;
        width: 150px;
    }
    .tet-header .tet-header-logo {
        width: 120px;
    }
    .tet-form-input, .tet-form-destination {
        height: 48px;
    }
}